include setup.py crtaci AUTHORS README.md ChangeLog COPYING
include backend/crtaci-http.go
recursive-include frontend/python *.py *.ui *.qrc *.svg *.png *.jpg *.ts
recursive-include xdg *.desktop *.png
global-exclude *_ui.py *_rc.py
